<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.gokada.qulinr">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".QulinrApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".screens.splash.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".screens.home.HomeActivity"
            android:launchMode="singleTask"/>

        <service android:name=".service.QulinrStickyService"
            android:enabled="true"/>

        <receiver android:name=".receiver.NotificationPublisher" />

        <receiver android:name=".receiver.RestartServiceReceiver"
            android:exported="true"
            android:enabled="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="app.gokada.quilnr.RestartService"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
